.memo-sf{
    position: relative;
    width: 60%;
    height: max-content;
    background-color:rgb(165, 165, 46);
    left: 310px;
}

.search-memo form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-memo .memo-container .memo-thmb{
    height: max-content;
    max-width: 350px;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
}

.list-memo .memo-container .memo-thmb .title{
    overflow: hidden;
    max-width: 300px;
    max-height: 70px;
}

.list-memo .memo-container .memo-thmb .text{
    overflow: hidden;
    max-width: 300px;
    max-height: 100px;
}

.list-memo .memo-container .memo-thmb .pin-icon{
    width: 30px;
    height: 30px;
    background-color: chartreuse;
}

@media (max-width:767px) {
    .memo-sf{
        width: 75%;
        left: 80px;
    }
}