.formFiche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listeFiche{
    border: 1px solid black;
    padding: 20px;
    
}
.containerFiche{
    display: flex;
    gap: 20px;
}

#titre{
    text-align: center;
}

#imageTitre{
    display: block;
  margin: 0 auto;
}

